*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #353839;
}
a{
    color: #fff;
    text-decoration: none;
}
.nav-bar{
    display: flex;
    float: right;
    margin-top: 15px;
    margin-right: 20px;
    color: #fff;
}
.nav-bar .light{
    margin-right: 25px;
    list-style: none;
    cursor: pointer;
}
.nav-bar .light a:hover{
    color: #FFE135;
    transition: .50s;
}
header{
    padding-top: 100px;
    margin-bottom: 20px;
    margin-left: 20px;
}
.header-h1{
    color: #FFE135;
    padding-bottom: 5px;
}
section{
    margin-left: 20px;
    margin-bottom: 10px;
}
p{
    color: #fff;
    max-width: 700px;
}
h3{
    color: #FFE135;
}
ul{
    color: #fff;
    list-style: none;
}
.images{
    display: inline-block;
    margin-left: 20px;
    cursor: not-allowed;
}