*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #353839;
}
.nav-link{
    color: #fff;
    text-decoration: none;
}
.nav-ul{
    display: flex;
    float: right;
    margin-top: 15px;
    margin-right: 20px;
}
.nav-ul .nav-list {
    margin-right: 25px;
    list-style: none;
    cursor: pointer;
}
.nav-ul .nav-list .nav-link:hover{
    color: #FFE135;
    transition: .50s;
}
iframe{
    position: absolute;
    top: 25%;
    left: 30%;
}
.project-h1{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    color: #FFE135;
}
/*Projects container*/
.grid-projects{
    display: flex;
    flex-direction: column;
}
.projects{
    margin-left: auto;
    margin-right: auto;
    line-height: 25px;
}
.homework3{
    list-style: none;
}
.homework4{
    list-style: none;
}
.link4{
    text-decoration: none;
    color: #fff;
}
.link3{
    text-decoration: none;
    color: #fff;
}
.homework3 .link3-li .link3:hover{
    color: #FFE135;
    transition: .50s;
}
.homework4 .link4-li .link4:hover{
    color: #FFE135;
    transition: .50s;
}